<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="keyword" content="portfolio, web, developper, developpeuse, techforgood, html, js, javascript, jquery, bootstrap, css, php, symfony, responsive, nadia, millet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}
				Nadia Millet - Développement Web & Marketing !
			{% endblock %}
		</title>
		{% block stylesheets %}
			<!-- fontawsome-->
			<link
			rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
			<!-- google font -->
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link
			href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
			<!-- semantic ui -->
			<link
			rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
			<!-- booystrap -->
			<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

			<!-- css -->
			<link href="{{asset('/css/theme.css') }}" rel="stylesheet">
		{% endblock %}
		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
			<!-- semantic ui -->
			<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
			<!-- boot -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

			<!-- dossier js -->
			<script src="{{asset('/js/scripts.js') }}"></script>
		{% endblock %}
	</head>
	<body>

		{% block body %}
			<div class="ui top attached demo menu">
				<a class="item bars" style="font-size: 2rem; border:none;">
					<i class="sidebar icon"></i>
				</a>
			</div>
			<div class="ui bottom attached segment">
				<div class="ui inverted labeled icon left inline vertical demo sidebar menu">
					<a class="item">
						<i class="home icon"></i>
						Home
					</a>
					<a class="item">
						<i class="smile outline icon"></i>
						Profil
					</a>
					<a class="item">
						<i class="briefcase icon"></i>
						Parcours
					</a>
					<a class="item">
						<i class="block layout icon"></i>
						Portfolio
					</a>
					<a class="item">
						<i class="user plus icon"></i>
						Contact
					</a>
				</div>
				<div class="pusher">
					<div class="ui basic segment">
						<div class=" ui container centered grid entete">
							<div class="ui sixteen wide column row">
								<h1>Nadia Millet</h1>
							</div>
							<div class="ui sixteen wide column row">
								<h2 class="typetxt-js devweb marketing digital">
									<span id="typetxt"></span>
								</h2>&nbsp;
							</div>
							<div class="sixteen column row icon-contact-developpement-web">
								<div class="column">
									<a href="https://www.linkedin.com/in/nadia-millet-8278871b7/" target="_blank">
										<i class="linkedin icon"></i>
									</a>
								</div>
								<div class="column">
									<a href="mailto:nadiamillet.eb@gmail.com">
										<i class="envelope icon"></i>
									</a>
								</div>
								<div class="column">
									<a href="tel:+33610251164">
										<i class="phone icon"></i>
									</a>
								</div>
								<div class="column">
									<a href="https://github.com/NadiaMillet" target="_blank">
										<i class="github icon"></i>
									</a>
								</div>
								<div class="column">
									<a href="https://app.assessfirst.com/_/profile/dvxqkec0-nadia-elakeb" target="_blank">
										<i class="fas fa-user-cog"></i>
									</a>
								</div>
							</div>
						</div>

						{% for profil in profils %}
							<div class="ui container grid profil-nadia-millet">
								<div class="eight wide column photoslide">
									<img class="ui massive image" src="{{asset('uploads/images/' ~ profil.img) }}" alt="photo de profil">
								</div>
								<div class="eight wide column">
									<p>{{profil.text | raw }}</p>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>
