{% extends '/main/index.html.twig' %}
{% form_theme formProfil 'bootstrap_4_layout.html.twig' %}

{% block header %}
	{{parent()}}
	{% block profil %}
		<h5 class="text-center mt-5">
			Modifier ma sélection</h5>
		<div class="container border border-secondary w-50 mt-5 p-5">
			{{ form(formProfil) }}
				<button type="button" class="btn btn-secondary btn-block">
					<a href="#" class="text-white">Retour à la liste</a>
				</button>
			</div>

		{% endblock %}
	{% endblock %}
